@mixin josefin {
  font-family: "josefin-sans", sans-serif;
  font-weight: 300;
  font-style: normal;
}

@mixin coquette {
  font-family: "coquette", sans-serif;
  font-weight: 300;
  font-style: normal;
}